* {
    box-sizing: border-box;
}

body {
    background-color: rgb(48, 134, 158);
    padding: 15px;
    margin: 0;
    font-size: 14px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 175%;
}

p, h1 {
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
.name {
    border-bottom:  1px solid black;
    border-left:  1px solid black;
    text-align: center;
    font-size: 125%;
    width: 91px;
    float: right;
    margin: 0px;
}

#chicken {
    background-color: rgb(175, 68, 68);
    color:aliceblue;
}

#beef {
    background-color: rgb(206, 127, 127);
    color: rgb(14 51 88);
}

#sushi {
    background-color: rgb(255, 186, 57);
    color: #1f7b66;
}

.main {
    width: 100%;
    display: inline-block;
}

.box {
    background-color: rgb(255, 203, 140);
    border:  1px solid black;
    min-width: 91px;
    margin: 5px;
}

.content {
    padding: 15px 15px 0px 15px;
    word-wrap: break-word;
}

@media (max-width: 767px) {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 79.99%;
    }
    .col-xs-10 {
        width: 83.3%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 79.99%;
    }
    .col-md-10 {
        width: 83.3%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33%;
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 79.99%;
    }
    .col-lg-10 {
        width: 83.3%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}